.idea/
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/
packer/variables.json
packer/key.json
terraform/terraform.tfvars
terraform/.terraform/
terraform/stage/terraform.tfvars
terraform/prod/terraform.tfvars
.DS_Store
