.idea/
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.DS_Store
terraform/terraform.tfvars
terraform/.terraform/
terraform/stage/terraform.tfvars
terraform/prod/terraform.tfvars
ansible/inventory.json
ansible/inventorygen.py
*.retry
vault.key
jdauphant.nginx
.vagrant/
*.log
!docker-1.log
*.pyc
.molecule
.cache
.pytest_cache
venv/
